.Control-Buttons {
  padding: 2% 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn-grp {
  align-items: center;
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.btn {
  background-color: hsla(0, 0%, 100%, .5);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  color: #f5f5f5;
}

.btn-start {
  background-color: #e42a2a;
}

.btn-text {
  height: 5vh;
  margin: 0 2%;
  min-width: 35vw;
  padding: 0 5%;
}

.btn-small {
  margin: 6%;
  min-width: 5vw;
  padding: 5% 16% 7% 16%;
}

.btn-menu {
  margin: 5% 0;
  min-width: 70vw;
  padding: 15% 0;

}