.current-timer{
	align-items: center;
	display: flex;
  flex-direction: column;
	height: 12%;
	justify-content: center;
	margin : 2% 0;
	padding: 2% 0;
	width: 100%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #f5f5f5;
}
.current-timer .clock{
	display: flex;
	padding: 2% 0;
	width: 40%;
	justify-content: center;
}
.current-timer .digits{
	font-size: 4rem;

}

.current-timer .mili-sec{
	color: #e42a2a;
	padding-right: 5%;
}

.current-timer .activity {
	background: transparent;
	border: none;
  color:#f5f5f5;
	font-weight: bold;
	font-size: 3rem;
	outline: none;
	text-transform: uppercase;
  text-align: center;
	width: 100%;
}

.current-timer .activity::placeholder {
	color: #f5f5f5;
}